* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Labrada', serif;
}

html,
body {
  max-width: 100vw;
  font-family: 'Labrada', serif;
}

body {
  background-color: #1E1E1E;
}

a {
  color: inherit;
  text-decoration: none;
}
